<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ハッカソン</title>
<!--    <link rel="stylesheet" href="stylesheet.css">-->
<!--    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">-->
  </head>
  <body>
      <header>
          <div class="container">
            <div class="header-left">
              <a class="header-logo" href="#">★</a>
              <input>
            </div>
            <div class="header-right">
              <input>
              <a class="signin-for-syufu" href="{% url 'post_new' %}">主婦サインイン</a>
            </div>
          </div>
      </header>
    {% for syufu in syufus %}
        <div>
            <p>published: {{ syufu.id_member }}</p>
            <h2><a href="">{{ syufu.shufu_name }}</a></h2>
            <p>{{ syufu.email|linebreaksbr }}</p>
        </div>
    {% endfor %}
​


<!--      <footer>-->
<!--     <div class="footer-top">-->
<!--      <div class="footer-left">-->
<!--        <h2 class="footer-logo">★</h2>-->
<!--      </div>-->
<!--      <div class="footer-right">-->
<!--        <ul>-->
<!--         <li><a href="#">★について</a></li>-->
<!--         <li><a href="#">ブログを読む</a></li>-->
<!--         <li><a href="#">登録しては配達を開始する</a></li>-->
<!--         <li><a href="#">加盟会社として登録する</a></li>-->
<!--        </ul>-->
<!--      </div>-->
<!--      <div class="footer-right">-->
<!--        <ul>-->
<!--         <li><a href="#">問い合わせる</a></li>-->
<!--         <li><a href="#">よくある質問を読む</a></li>-->
<!--         <li><a href="#">すべての都市を表示</a></li>-->
        </ul>
      </div>
     </div>
    </footer>
  </body>
</html>