<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ハッカソン</title>
      <link rel="stylesheet" href="../../static/css/blog.css">
  </head>
  <body>
      <header>
          <div class="top-menu">
            <div class="page-header">
                <h1><a href="/">Uber主婦</a></h1>
                <div class="header-right" style="position: absolute; top: 50px; right: 40px">
                    <a class="signin-for-syufu btn-square-shadow" href="{% url 'login_syufu' %}" style="display: block">主婦サインイン</a>
                </div>
            </div>
        </div>

          </div>
      </header>
    {% for food in recipis %}
        <div style="text-align:center; float: left; margin: 50px; border: solid 3px #4f4f4f; width: 400px; height: 400px;">
            <h1>{{ food.recipi_id }} {{ food.title }}</h1>
            <img src="https://cdn.pixabay.com/photo/2017/08/11/00/32/main-course-2629258_1280.jpg" width="200px" height="200px">
            <h2>{{ food.description }}</h2>
            <p>1人前{{ food.price|linebreaksbr }}円</p>
        </div>
    {% endfor %}
​


<!--      <footer>-->
<!--     <div class="footer-top">-->
<!--      <div class="footer-left">-->
<!--        <h2 class="footer-logo">★</h2>-->
<!--      </div>-->
<!--      <div class="footer-right">-->
<!--        <ul>-->
<!--         <li><a href="#">★について</a></li>-->
<!--         <li><a href="#">ブログを読む</a></li>-->
<!--         <li><a href="#">登録しては配達を開始する</a></li>-->
<!--         <li><a href="#">加盟会社として登録する</a></li>-->
<!--        </ul>-->
<!--      </div>-->
<!--      <div class="footer-right">-->
<!--        <ul>-->
<!--         <li><a href="#">問い合わせる</a></li>-->
<!--         <li><a href="#">よくある質問を読む</a></li>-->
<!--         <li><a href="#">すべての都市を表示</a></li>-->
        </ul>
      </div>
     </div>
    </footer>
  </body>
</html>